<div class="m-lg-3">
  <h3 [translate]="'iDashboard.MyCourses'"></h3>
  <div class="border-right mt-4 pr-lg-5">

    <!--pre-loading state-->
    <div class="card mb-3" *ngIf="isLoading">
      <div class="card-body">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ml-4 ph-col-4 big"></div>
          </div>
        </div>
      </div>
    </div>
    <!--end pre-loading state-->

    <div *ngIf="recentCourses">
      <div class="m-lg-3">
        <div class="text-secondary" *ngIf="currentRegistration && currentRegistration?.registrationPeriod && currentRegistration?.registrationYear"> {{'iDashboard.Caps.'+  currentRegistration?.registrationPeriod?.alternateName | translate}} <span [translate]="'iDashboard.Caps.semester'"></span> {{currentRegistration?.registrationYear?.alternateName}}</div>
        <div><span *ngIf="!registrationEdited && currentRegistration && currentRegistrarionEffectiveStatus && currentRegistrarionEffectiveStatus=='open'"><a class="btn text-primary p-0 py-2" [routerLink]="['/registrations', 'courses', 'overview']">{{ 'iDashboard.RegistrationOpenMessage' | translate }}</a></span></div>
        <div><span class="text-secondary" *ngIf="currentRegistration && currentRegistrarionEffectiveStatus && currentRegistrarionEffectiveStatus=='closed'" [translate]="'iDashboard.RegistrationClosedMessage'"></span></div>
        <div  *ngIf = "registrationEdited && currentRegistration"><span class = "text-danger" [translate]="'iDashboard.UncommittedChanges'"></span>
          <span><a class="btn text-primary p-0 py-2 pl-2" [translate]="'iDashboard.BackToRegistration'"[routerLink]="['/registrations', 'courses', 'overview']"> </a></span></div>
      </div>
      <div class="card mb-3" *ngFor="let course of recentCourses"> <!-- LOOP WITH CARDS -->
        <div class="card-body">
          <div class="row">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9">
                  <div class="row">
                    <h5 *ngIf="currentLanguage == defaultLanguage; else notDefault">{{course?.courseClass?.title}}</h5>
                    <ng-template #notDefault><h5>{{course.courseClass.course | localize:['name']}}</h5></ng-template>
                  </div>
                  <div class="row">
                    <span class="text-secondary"><i class="fas fa-user-graduate pr-2"></i> </span>
                    <span class="text-secondary mr-1" *ngFor="let instructor of course?.courseClass?.instructors; let isLast=last">
                      {{instructor?.instructor | localize:['givenName']}} {{instructor?.instructor | localize:['familyName']}} {{isLast ? '' : ', '}}
                    </span>

                  </div>
                  <div class="row mt-2">
                    <span class="text-secondary"><i class="far fa-flag pr-2"></i> {{course?.courseClass?.course?.displayCode}}</span>
                    <span class="d-inline-block ml-4">
                      <a *ngIf="course?.courseClass?.classUrl != null && course?.courseClass?.classUrl.length > 0" class="course-url btn text-primary p-0 align-top mr-3"
                        [translate]="'iDashboard.StudyGuide'"  title="{{'iDashboard.StudyGuide' | translate}}" href="{{ course?.courseClass?.classUrl }}"
                        target="_blank" rel="noopener noreferrer"
                      ></a>
                      <span *ngIf="course?.courseClass?.classUrl == null || course?.courseClass?.classUrl.length===0" class="course-url text-gray-200 p-0 align-top mr-3"
                            [translate]="'iDashboard.StudyGuide'" [tooltip]="studyGuideTooltip" placement="top"></span>
                      <ng-template #studyGuideTooltip><div [translate]="'iDashboard.CourseUrlNullMessage'" class="text-secondary font-sm"></div></ng-template>
                    </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <a *ngIf="course?.courseClass?.eLearningUrl != null && course?.courseClass?.eLearningUrl.length > 0" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4"
                    [translate]="'iDashboard.eLearning'"  title="{{'iDashboard.eLearning' | translate}}" href="{{ course?.courseClass?.eLearningUrl }}"
                    target="_blank" rel="noopener noreferrer"
                  ></a>
                  <span *ngIf="course?.courseClass?.eLearningUrl == null || course?.courseClass?.eLearningUrl.length===0" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4 disabled"
                        [translate]="'iDashboard.eLearning'" [tooltip]="elearningTooltip" placement="top"></span>
                  <ng-template #elearningTooltip><div [translate]="'iDashboard.eLearningUrlNullMessage'" class="text-secondary font-sm"></div></ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && recentCourses && recentCourses.length === 0">
        <div class="card">
            <div class="card-body">
              <p class="card-text" [translate]="'iDashboard.CoursesNoRecords'"></p>
            </div>
          </div>
    </div>

  </div>
</div>
